<%# This used to be a partial file that stored table data %>
<%# This is for the show function was also for the table function which screwed up the code %>
<div class="jumbotron">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="lead">
    <%= @friend.email %>  | 
    <%= @friend.phone %>  |  
    <%= @friend.twitter %>
  </p>
  <br/>
</div>